.submit-button {
  margin-left: 5px;
}

.wide-table {
  width: 100%;
}

.table > thead > tr {
  line-height: 25px;
   min-height: 25px;
   height: 25px;
}

.table > tbody > tr {
  line-height: 25px;
   min-height: 25px;
   height: 25px;
}
